<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Practice</title>
</head>

<body style="color: white; background-color: black;">
    <div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1 style="margin-top:1rem;">Stock Market it is!!</h1>
        <h2>Stock Market it is!!</h2>
        <h3>Stock Market it is!!</h3>
        <h4>Stock Market it is!!</h4>
        <h5>Stock Market it is!!</h5>
        <h1>Seems like <span style="color: brown;"><%=ticker%></span> is fluctuating at <span style="color: brown;">₹<%=latestPrice%></span> on <span style="color: brown;"><%=stockExchange%></span> %></h1>
        <h5>Stock Market it is!!</h5>
        <h4>Stock Market it is!!</h4>
        <h3>Stock Market it is!!</h3>
        <h2>Stock Market it is!!</h2>
        <h1 style="margin-bottom:0;">Stock Market it is!!</h1>
    </div>
</body>

</html>